
body
  padding-top: 70px
  min-width: 235px
  font-size: 16px

footer
  font-size: .75em
  text-align: center

@media screen and (max-width: 484px)
  .col-micro
    width: 100%



// Mixins
   =============================================================================

=background-gradient($from, $to, $fallback)
  // Fallback
  background: $fallback
  // FF3.6+
  background: -moz-linear-gradient(left, $from, $to)
  // Chrome, Safari4+
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, $from), color-stop(100%, $to))
  // Chrome10+, Safari5.1+
  background: -webkit-linear-gradient(left, $from, $to)
  // Opera 11.10+
  background: -o-linear-gradient(left, $from, $to)
  // IE10+
  background: -ms-linear-gradient(left, $from, $to)
  // W3C
  background: linear-gradient(to right, $from, $to)

=box-shadow-inset($color)
  // Chrome, Safari3.1+
  -webkit-box-shadow: inset 0 0 0 1px $color
  // Firefox3.5+
  -moz-box-shadow: inset 0 0 0 1px $color
  // W3C
  box-shadow: inset 0 0 0 1px $color

=text-shadow($color)
  // Chrome2+, Firefox3.1+, IE9+, Opera9.5+, Safari3.1+
  text-shadow: 0 0 2px $color



// Icon font
   =============================================================================

@font-face
  font-family: 'entypo'
  src: url('../fonts/entypo-custom.eot')
  src: url('../fonts/entypo-custom.eot?#iefix') format('embedded-opentype'), url('../fonts/entypo-custom.woff') format('woff'), url('../fonts/entypo-custom.ttf') format('truetype'), url('../fonts/entypo-custom.svg#entypo-custom') format('svg')
  font-weight: normal
  font-style: normal

.icon
  font-family: 'entypo'
  font-style: normal
  font-weight: normal
  font-variant: normal
  line-height: 1em
  speak: none
  text-transform: none

  // Improve font rendering
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale


// Individual icons ------------------------------------------------------------

.icon-light-bulb:before
  content: "\e600"

.icon-thermometer:before
  content: "\e601"

.icon-music:before
  content: "\e602"

.icon-play:before
  content: "\e605"

.icon-stop:before
  content: "\e606"

.icon-next:before
  content: "\e607"

.icon-previous:before
  content: "\e608"

.icon-pause:before
  content: "\e609"

.icon-sun:before
  content: "\e60a"

.icon-moon:before
  content: "\e60d"

.icon-house:before
  content: "\e60e"

.icon-text:before
  content: "\e610"

.icon-text2:before
  content: "\e611"

.icon-sun2:before
  content: "\e614"

.icon-sound:before
  content: "\e61d"

.icon-mute:before
  content: "\e61e"

.icon-volume:before
  content: "\e61f"

.icon-bars:before
  content: "\e620"

.icon-lock:before
  content: "\e621"

.icon-lock-open:before
  content: "\e622"

.icon-bolt:before
  content: "\e603"

.icon-key:before
  content: "\e604"

.icon-cycle:before
  content: "\e60c"

.icon-document:before
  content: "\e60b"

.icon-arrow-down3:before
  content: "\e619"

.icon-arrow-up3:before
  content: "\e61a"

.icon-arrow-left:before
  content: "\e60f"

.icon-arrow-right:before
  content: "\e612"

.icon-bookmark:before
  content: "\e613"




// Checkbox-switch styles
   =============================================================================

$checkbox-width: 4.6em

input[type="checkbox"]
  display: none

  & + label
    padding: 0
    margin-left: 0
    margin-right: $checkbox-width
    border-radius: 4px 0 0 4px
    cursor: pointer

    &:before,
    &:after
      display: block
      position: relative
      padding: 6px 0
      margin: -1px 0
      width: $checkbox-width
      color: #fff
      text-align: center
      text-transform: uppercase

    &:before
      display: none
      background: #5cb85c
      border: 1px solid #4cae4c
      left: -100%
      border-radius: 4px 0 0 4px
      content: attr(data-checked-label)

    &:after
      display: inline-block
      background: #d9534f
      border: 1px solid #d43f3a
      left: 100%
      border-radius: 0 4px 4px 0
      content: attr(data-unchecked-label)

    &:hover

      &:before
        background: #47a447
        border-color: #398439

      &:after
        background: #d2322f
        border-color: #ac2925

    &:active

      &:before,
      &:after
        -webkit-box-shadow: inset 0 -3px 5px rgba(0 , 0, 0, .125)
        -moz-box-shadow: inset 0 -3px 5px rgba(0, 0, 0, .125)
        box-shadow: inset 0 -3px 5px rgba(0, 0, 0, .125)

  &:checked + label
    margin-left: $checkbox-width
    margin-right: 0
    width: $checkbox-width
    border-radius: 0 4px 4px 0

    &:before
      display: inline-block

    &:after
      display: none



// Panel styles
   =============================================================================

.panel-heading:before
  @extend .icon
  float: right

.panel-body
  text-align: center

  .temperature-controller &,
  .curtain-controller &,
  .light-controller &
    height: 17em

  .well
    display: block
    position: relative
    margin: 0 auto
    height: 8em
    width: 50%
    min-width: 6em

    &:before,
    &:after
      @extend .icon
      position: absolute
      left: 0
      top: .167em
      width: 100%
      //color: #333
      font-size: 6em
      text-align: center

  .btn
    height: 34px

  .btn-label
    +text-shadow(#000)
    width: 6em
    border: 1px solid #ccc

.panel-label
  margin-top: 1em
  color: #888
  font-size: .6em
  font-weight: bold
  letter-spacing: .1em
  text-transform: uppercase


// Light panel styles ----------------------------------------------------------

.light-controller
  
  .panel-heading:before
    @extend .icon-light-bulb

  .well
    padding: 2em 0
  
    &:before
      @extend .icon-light-bulb

  .status-on .well:before
    color: #ed0

  .control-adjust .btn-label
    +background-gradient(#430, #fe0, #888)
    +box-shadow-inset(#fff)
    color: #fff


// Temperature panel styles ----------------------------------------------------

.temperature-controller

  .panel-heading:before
    @extend .icon-thermometer

  .well
    padding: 0.8em 1em 0 3.9em

    &:before
      @extend .icon-thermometer
      left: -0.02em


  .status-day .well:before
    color: #d9534f

  .status-night .well:before
    color: #428bca

  .control-adjust .btn-label
    +background-gradient(#44f, #f44, #888)
    +box-shadow-inset(#fff)
    color: #fff


// Curtain panel styles --------------------------------------------------------

.curtain-controller

  .panel-heading:before
    content: "\e613\e613"
    letter-spacing: -.5em

  .well

    &:before
      @extend .icon-document

    &:after
      @extend .icon
      content: "\e613\e613"

  .status-open .well
    min-width: 10em

    &:after
      margin-left: -.25em
      letter-spacing: .15em

  .status-close .well

    &:after
      margin-left: -0.3em
      letter-spacing: -0.6em
